<!doctype html>
<html>
<head>
  <style type="text/css">
@font-face {
  font-family: 'Colfax';
  src: url('http://2014.withassociates.com/assets/ColfaxWebBold.woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Colfax';
  src: url('http://2014.withassociates.com/assets/ColfaxWebRegular.woff');
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #20befc;
}
#wrapper {
  background: #20befc;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
td {
  color: #005F80;
  font: 14px/1.4 helvetica, arial, sans-serif;
}
table {
  border-spacing: 0;
}
td, th {
  padding: 0;
}
img {
  border: none;
}
#main, #footer, #header {
  width: 620px;
}
table a {
  color: #005F80;
}
/* Header */
#header {
  vertical-align: top;
}
.strap-line {
  padding: 20px 0;
  text-align: center;
}
.strap-line span { color: white; }
.open-in-browser {
  text-align: right;
  width: 130px;
}
.open-in-browser a {
  font-size: 12px;
  text-decoration: none;
  color: #008EBF;
}
.logo {
  padding: 10px 0 30px;
  text-align: center;
}
/* Main */
#main {
  background: white;
}
.issue-header {
  width: 620px;
  background: #f2f2f2;
  font-size: 14px;
}
.issue-header td {
  text-align: center;
}
.header-arrow {
  background: #20befc;
  text-align: center;
  font-size: 0;
}
.issue-title {
  font-weight: bold;
  font-size: 26px;
}
.issue-title a {
  text-decoration: none;
}
.issue-reference {
  padding: 16px 0 6px;
  font-size: 14px;
}
.issue-date {
  padding: 6px 0 16px;
  font-size: 14px;
  font-weight: normal;
}
/* Links */
.link-icon {
  padding-right: 64px;
  width: 64px;
  vertical-align: top;
}
.link-icon img {
  width: 64px;
  height: 64px;
  max-height: 64px;
}
.link-icon,
.link-content {
  padding-bottom: 20px;
}
.link-wrapper {
  padding: 22px 44px 0;
}
.link-container {
  border-bottom: 1px solid #E5E5E5;
  width: 532px;
}
#links tr:last-child .link-container {
  border-bottom: 0 !important;
}
.link-title {
  padding: 6px 0;
  font-size: 21px;
  font-weight: bold;
}
.link-title a {
  text-decoration: none;
}
.link-person {
  color: #00BDFF;
}
.link-person a {
  color: #00BDFF;
  text-decoration: none;
}
.link-text {
  color: #689FB2;
}
.link-text p:first-child {
  margin-top: 0;
}
.link-text p:last-child {
  margin-bottom: 0;
}
/* Email actions */
.email-actions {
  width: 620px;
  background: #005F80;
  color: white;
}
.email-actions td {
  padding: 21px 44px;
  width: 50%;
  font-weight: bold;
}
.email-actions td a {
  text-decoration: none;
  color: #FFFFFE;
}
.email-actions td img {
  opacity: 0.5;
  margin-left: 6px;
  vertical-align: top
}
.forward {
  border-right: 1px solid #005575;
}
.unsubscribe {
  text-align: right;
}
/* Footer */
#footer {
  width: 620px;
}
#footer td {
  vertical-align: top;
  padding: 12px 44px;
  width: 50%;
}
.sign-off a {
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFE;
}
.credits a {
  color: #005F80;
}
@media screen {
  td { font-family: 'Colfax', helvetica, arial, sans-serif; }
}
@media only screen and (max-width: 620px) {
  #main,
  #header,
  #footer,
  #links,
  .issue-header,
  .email-actions {
    width: 320px !important;
  }
  .open-in-browser {
    display: none !important;
  }
  .strap-line {
    font-size: 0.9em !important;
  }
  .link-wrapper {
    padding: 20px 10px 0 !important;
  }
  .link-container {
    width: 300px !important;
  }
  .link-icon {
    padding-right: 10px !important;
  }
  .email-actions td {
    display: block !important;
    width: auto !important;
    text-align: center !important;
  }
  .forward {
    border-right: 0 !important;
    border-bottom: 1px solid #005575 !important;
  }
  #footer {
    margin: 20px auto;
  }
  #footer td {
    display: block !important;
    padding: 10px !important;
    width: auto !important;
    text-align: center !important;
    font-size: 0.9em !important;
  }
  #footer p:first-child {
    margin-top: 0;
  }
  #footer p:last-child {
    margin-bottom: 0;
  }
}
</style>
</head>
<body>
  <table id="wrapper" align="center" width="100%" cellspacing="0" cellpadding="0"><tr><td class="wrapper-inner">
  <table id="header" align="center" cellspacing="0" cellpadding="0">
    <tr>
      <td class="open-in-browser">&nbsp;</td>
      <td class="strap-line">
        A collection of curated links from With Associates.<br>
      </td>
      <td class="open-in-browser">
        <webversion>Open in browser</webversion>
      </td>
    </tr>
    <tr>
      <td class="logo" colspan="3">
        <a href="http://links.withassociates.com">
          <%= image_tag "logo.gif", alt: 'With Links', width: '230', height: '94' %>
        </a>
      </td>
    </tr>
  </table>
  <table id="main" align="center" cellspacing="0" cellpadding="0">
    <tr>
      <td class="header-arrow">
        <%= image_tag 'point.png', width: '16', height: '8' %>
      </td>
    </tr>
    <tr>
      <th>
        <table class="issue-header" cellspacing="0" cellpadding="0">
          <tr><td class="issue-reference">
            Vol. 2 / Issue <%= @theme.issue_number %>
          </td></tr>
          <tr><td class="issue-title">
            <%= @theme.title %>
          </td></tr>
          <tr><td class="issue-date">
            <%= @theme.issue_date %>
          </td></tr>
        </table>
      </th>
    </tr>
    <tr><td><table id="links" cellspacing="0" cellpadding="0">
          <% @theme.links.each do |link| %>
            <tr>
              <td class="link-wrapper">
                <table class="link-container" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="link-icon">
                      <%= icon_link_unless_away(link, 64) %>
                    </td>
                    <td>
                      <table class="link-content" cellspacing="0" cellpadding="0">
                        <tr><td class="link-person">
                            <%= link.person.name %>'s Link
                        </td></tr>
                        <tr><td class="link-title">
                            <%= link_unless_person_is_away(link) %>
                        </td></tr>
                        <tr>
                          <td class="link-text">
                            <p><%= link.description.html_safe if link.description.present? %></p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          <% end %>
    </table></td></tr>
    <tr>
      <td>
        <table class="email-actions" cellspacing="0" cellpadding="0">
          <tr>
            <td class="forward">
              <forwardtoafriend>Forward on</forwardtoafriend>
            </td>
            <td class="unsubscribe">
              <unsubscribe>Unsubscribe</unsubscribe>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table id="footer" align="center" cellspacing="0" cellpadding="0">
    <tr>
      <td class="sign-off">
        <p>
          With Links. With Love &hearts;<br>
          <a href="http://www.withassociates.com">www.withassociates.com</a>
        </p>
      </td>
      <td class="credits">
        <p>
          <% @theme.links.each do |link| %>
            <%= icon_credit(link).html_safe if link.icon_attribution.present? %><br>
          <% end %>
        </p>
      </td>
    </tr>
  </table>
  </td></tr></table>
</body>
</html>
