<header id="header" role="banner">
  <div class="container">
    <nav>
      <%= link_to "Home", root_path, class: 'nav-item' %>
      <%= link_to "Themes", themes_path, class: 'nav-item' %>
      <%= link_to "People", people_path, class: 'nav-item' %>
      /
      <%= link_to 'http://www.twitter.com/withlinks', class: 'nav-item icon-twitter' do %>
        <span>Twitter</span>
      <% end %>
    </nav>
    <%= link_to root_path, class: "header-root-link" do %>
      <h1 class="header-title">
        <%= image_tag(
          image_path('with-links-logo.gif'),
          alt: 'With Links', size: '350x143'
        ) %>
      </h1>
    <% end %>

    <div class="header-text">
      <p>
        Once a week we send out an issue of With Links. Nine links on a weekly
        theme, from the nine of us at <a href="http://withassociates.com">With Associates</a>.
      </p>
    </div>

    <%= render "shared/sign_up" %>

    <% if params[:thanks] %>
      <div class="flash-thanks">
        Thank you! You'll receive your first issue of With Links on Friday.
      </div>
    <% end %>
  </div>
</header>
