<%= content_tag_for :li, link, class: 'theme-link' do %>
  <div class="left">
    <%= icon_link_unless_away(link, 100) %>
  </div>

  <div class="right">
    <h3 class="theme-link-person"><%= person_or_theme(link) %></h3>
    <h2 class="theme-link-title"><%= link_unless_person_is_away(link) %></h2>

    <% unless link.is_away? %>
      <div class="theme-link-text">
        <%= link.description.html_safe if link.description.present? %>
      </div>
    <% end %>

    <span class="theme-link-credit">
      <%= icon_credit(link) %>
    </span>
  </div>
<% end %>
