<%= content_tag_for(:li, link, class: 'link-list-item') do %>
  <div class="link-list-column link-list-image-column">
    <div class="link-list-column-content">
      <%= image_tag icon_or_away_icon(link), width: 100 %>
    </div>
  </div>
  <div class="link-list-column link-list-text-column">
    <div class="link-list-column-content">
      <div class="link-list-headings">
        <h3 class="link-list-person"><%= link.person.name %> </h3>
        <h4 class="link-list-title"><%= link_unless_person_is_away(link) %></a></h4>
    </div>
    <div class="link-list-description">
      <% unless link.is_away? %>
        <p><%= link.description.html_safe %></p>
        <p><strong><%= link_to "Vote for this With Link!", vote_path(link), method: :post %></strong></p>
      <% end %>
      <p><%= icon_credit(link) %></p>
    </div>
  </div>
</div>
<% end %>
