<%= content_tag :li, class: 'theme-link' do %>
  <div class="left">
    <%= image_tag icon_or_away_icon(link), width: 100 %>
  </div>

  <div class="right">
    <h3 class="theme-link-person"><%= link.person.name %></h3>
    <h2 class="theme-link-title"><%= link_unless_person_is_away(link) %></h2>

    <% unless link.is_away? %>
      <div class="theme-link-text">
        <%= link.description.html_safe %>
      </div>
    <% end %>

    <%= icon_credit(link) %>
  </div>
<% end %>
